@{
    ViewData["Title"] = "Student Management";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Student Management System</h1>
    <p>We will learn how to create a .Net Core Web Application in VSCode and Create a Jenkins pipeline for Build</p>
</div>
